---
import Layout from '../layouts/Layout.astro';
import { SceneLoader } from '../components/SceneLoader';
import bg from '../assets/bg.jpg';
import portfolioImg01 from '../assets/village-app.jpg';
import portfolioImg02 from '../assets/dino-mercs.jpg';
import portfolioImg03 from '../assets/untitled-1.jpg';
import portfolioImg04 from '../assets/gaming-site.jpg';
import portfolioImg05 from '../assets/gaming-site-2.jpg';
import portfolioImg06 from '../assets/quiz.jpg';
import portfolioImg07 from '../assets/dino-mercs-2.jpg';
import portfolioImg08 from '../assets/dino-mercs-3.jpg';
import portfolioImg09 from '../assets/bourbon.jpg';
import portfolioImg10 from '../assets/wildflower.jpg';
import { Image } from 'astro:assets';
---

<Layout>
	<SceneLoader client:only="react" />

	<div class="grid grid-cols-12 p-8 lg:p-16 lg:py-10 relative mx-auto opacity-0 animate-fade-in z-100">
		<!-- <Image src={bg} alt="background" class="absolute inset-0 w-full h-full filter contrast-250 brightness-100 mix-blend-overlay z-0" /> -->

		<div class="grid grid-cols-12 col-span-12 z-100 mb-24 lg:mb-44 lg:mt-24 mt-12">
			<div class="col-span-12 lg:col-span-6 mb-12 lg:mb-0">
				<h1 class="text-6xl lg:text-8xl max-w-xs foreground z-10 leading-[0.9] text-[#ffbb00]">unusual undertaking</h1>
			</div>

			<div class="col-span-12 lg:col-span-6">
				<h2 class="text-xl lg:text-2xl leading-[1.3] foreground z-10 text-[#FFBF00] max-w-3xl mb-12">A studio blending art + engineering to create digital things that people love</h2>
			
				<h3 class="text-xl lg:text-2xl leading-[1.3] foreground z-10 text-[#FFBF00] max-w-3xl mb-12">
					Available for new projects:<br/><a href="mailto:email@unusualundertaking.com" class="border-b border-[#FFBF00] hover:text-[#FFBF00]">email@unusualundertaking.com</a>
				</h3>

				<p class="text-xl lg:text-2xl leading-[1.3] foreground z-10 text-[#FFBF00] max-w-3xl">
					Specializing in: <br/>Landing pages & marketing sites, full-stack web apps, iOS & Android mobile apps, game prototypes, and creative coding projects
				</p>
			</div>
		</div>

		{/* Img grid masonry style */}
		<div class="columns-1 md:columns-2 lg:columns-3 gap-4 col-span-12 space-y-4 z-100 mb-44">
			<div class="break-inside-avoid mb-4">
				<Image src={portfolioImg01} alt="portfolio" class="w-full h-auto rounded-3xl min-h-96" />
			</div>
			<div class="break-inside-avoid mb-4">	
				<Image src={portfolioImg09} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
			<div class="break-inside-avoid mb-4">	
				<Image src={portfolioImg10} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
			<div class="break-inside-avoid mb-4">	
				<Image src={portfolioImg03} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
			<div class="break-inside-avoid mb-4">
				<Image src={portfolioImg04} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
			<div class="break-inside-avoid mb-4">
				<Image src={portfolioImg05} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
			<div class="break-inside-avoid mb-4">
				<Image src={portfolioImg06} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
			<div class="break-inside-avoid mb-4">
				<Image src={portfolioImg02} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
			<div class="break-inside-avoid mb-4">	
				<Image src={portfolioImg07} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
			<div class="break-inside-avoid mb-4">	
				<Image src={portfolioImg08} alt="portfolio" class="w-full h-auto rounded-3xl" />
			</div>
		</div>
	</div>
</Layout>
